[submodule ".vim/bundle/mru"]
	path = .vim/bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule ".vim/bundle/vim-rtags"]
	path = .vim/bundle/vim-rtags
	url = https://github.com/lyuts/vim-rtags.git
[submodule "src/rtags"]
	path = src/rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "rtags"]
	path = rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule ".vim/bundle/robotframework-vim"]
	path = .vim/bundle/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
